* {
  margin: 0;
  font-family: Raleway, sans-serif;
}

body {
  width: max-content;
  margin: auto;
  font-size: x-large;
  background-color: rgb(27, 27, 27);
}

main {
  margin-top: 30px;
  background-color: rgb(238, 238, 238);
  padding: 20px 50px;
  border-radius: 20px;
}

#title {
  margin-bottom: 20px;
}

#color-to-guess {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 50%;
  border: 1px solid black;
  background-image: url('/question-mark.png');
  background-size: cover;
  opacity: 10%;
  transition-duration: 0.3s;
}

#rgb-color {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 25px;
}

#colors {
  width: max-content;
  margin: 10px auto;
  margin-bottom: 5px;
}

.ball {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid black;
}

.ball:last-child {
  margin-right: 0;
}

#answer {
  text-align: center;
  font-weight: 600;
  margin-top: 8px;
}
